!!! 5
%html(lang='en_US')
  %body
    %h1 Welcome to Myflix.com, #{@user.full_name}!
    %p To reset your password, just follow this link:
    %p= link_to 'Reset My Password', reset_password_url(@user.token), target: '_blank'
    %p Thanks for joining and have a great day!